* {
  outline: none;
  animation: fadeEffect .5s linear;
}

:root {
  --courses-dark-gray: #231F20;
  --courses-yellow: #FFC518;
  --courses-red: #FF0000;
  --light-gray: #F8F8F8;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(249 17 0 / 35%);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

p, ul, li {
  font-size: 1.125rem;
  color: var(--courses-dark-gray);
  font-family: 'Gilroy Medium';
  opacity: .8;
}

.nav {
  width: 100%;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.nav-hld {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  margin: auto 0;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.menu p {
  padding-right: 30px;
}

.menu p svg {
  cursor: pointer;
}

.menu-text {
  color: #fff;
  text-decoration: none;
  font-family: "Gilroy SemiBold";
  font-size: 15px;
  padding: 0 15px;
  margin: 0;
  transition: all .5s ease-in-out;
}

.menu-text:after {
  content: "";
  display: block;
  background: var(--courses-yellow);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.menu-text:hover{
  color: var(--courses-yellow)
}

.menu-text:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.notification {
  width: 35%;
  background: #f9f9f9;
  margin: -30px 30px 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px #00000012;
}

.dark {
  color: #000;
}

.hero {
  position: relative;
  margin-top: -120px;
  display: block;
}

.hero-banner:after {
  content: '';
  position: absolute;
  background-color: #000;
  top: -5px;
  height: 100%;
  width: 100%;
  opacity: .6;
}

.banner-img {
  height: auto;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.banner-text h1 {
  font-family: 'Gilroy Bold';
  font-size: 2.5rem;
  text-transform: capitalize;
}

.banner-text h2 {
  font-family: 'Gilroy Regular';
  font-size: 2rem;
  margin-top: -20px;
  text-transform: capitalize;
}

.vid-btn {
  width: 10%;
  margin: auto;
  text-align: center;
}

.vid-btn svg {
  cursor: pointer;
  border-radius: 10px;
  animation: pulse-animation 2s infinite;
}

.section {
  width: 100%;
  display: block;
}

.intro-hd {
  width: 40%;
  margin: auto;
  text-align: center;
  padding-top: 0.56rem;
  padding-bottom: 1.5rem;
}

.intro-hd h2 {
  font-size: 2rem;
  font-family: 'Gilroy SemiBold';
  line-height: 38px;
}

.intro-sub {
  text-align: center;
  width: 80%;
  margin: auto;
}

.intro-sub h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.brands {
  padding: 2rem 0;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.int {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.courses-link {
  text-transform: capitalize;
  border-radius: 5px;
  background-color: var(--courses-yellow);
  padding: 15px 30px;
  text-decoration: none;
  color: var(--courses-dark-gray);
  font-family: 'Gilroy SemiBold';
  font-size: 0.9rem;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.courses-link:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: 1;
  content: '';
  background: #0000000d;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.courses-link:hover:before {
  top: 0%;
	bottom: auto;
	height: 100%;
}

.cta {
  margin: 4rem auto 0;
  text-align: center;
}

.sub-grey {
  background-color: var(--light-gray);
  padding: 5rem 0;
}

.row {
  width: 90%;
  display: flex;
  margin: auto;
}


.crd {
  width: 35%;
  margin: auto;
}

.crd_ {
  width: 40%;
  margin: auto;
}

.crd h4,
.crd_ h4 {
  font-size: 1.2rem;
}

.crd p, 
.crd_ p {
  margin-top: -15px;
  display: flex;
}

.square {
  padding-right: 10px;
  margin-top: 5px;
}

.square:before {
  content: '';
  background: #fcc519;
  display: block;
  height: 20px;
  width: 20px;
}

.sub {
  padding: 5rem 0;
}

.sub h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Gilroy SemiBold';
  text-transform: capitalize;
  margin-top: -20px;
  padding-bottom: 10px;
}

.lrt {
  text-align: left;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
  border-radius: 5px;
  transition: .5s ease-in-out;
}

.lrt:hover {
  transform: translateY(-10px);
}

.lrt img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.lrt img:hover {
  transform: scale(1);
}

.lrt-txt {
  width: 90%;
  margin: auto;
  height: 250px;
}

.row.scr {
  width: 80%;
}

.sub-grey-heading {
  font-size: 2rem;
  font-family: 'Gilroy SemiBold';
  text-transform: capitalize;
  text-align: center;
}

.video-preview {
  width: 80%;
  margin: auto;
}

.video-preview img {
  width: 100%;
  cursor: pointer;
  transition: .5s filter ease-in-out;
}

.video-preview img:hover {
  filter: brightness(0.9);
}

.video {
  position: relative;
}

.vid-nxt {
  height: 151px;
  width: 256px;
  background-size: cover;
  border-radius: 5px;
  margin-right: 20px;
  transition: .5s all ease-in-out;
}

.vid-nxt:hover {
  transform: scale(1.05);
}

.video-preview .row {
  width: 100%;
}

.sec {
  color: var(--courses-yellow);
  font-size: 0.95rem;
  font-family: 'Gilroy Medium';
  padding: 0 0 0 10px;
  margin: 0;
}

.vid-title {
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Gilroy SemiBold';
  padding: 0 0 5px 10px;
  margin: 0;
}

.vid-text {
  position: relative;
  top: 67%;
  background: linear-gradient(360deg, #222222 0%, rgba(34, 34, 34, 0) 100.07%);
  border-radius: 0px 0px 5px 5px;
}

.vid-crd {
  display: flex;
  padding-top: 30px;
}

.vid-summary h4 {
  font-family: 'Gilroy Medium';
  font-size: 1.6rem;
}

.vid-summary-cta {
  margin-top: 3rem;
  box-sizing: border-box;
  text-align: center;
}

.vid-list {
  line-height: 35px;
  margin-left: -20px;
}

ul.vid-list li {
  /* list-style-image: url(../img/bullet.svg); */
  padding-bottom: 20px;
  line-height: 35px;
}

.vid-summary p {
  display: flex;
}

.courses-instructors {
  width: 70%;
  margin: auto;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c4c4c4;
}

.instructor {
  width: 45%;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 50px;
}

.instructor img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.instructor-detail {
  display: flex;
  width: 90%;
  margin: auto;
}

.instructor-summary {
  width: 95%;
  margin: auto;
}

.instructor-summary p {
  padding: 0 10px;
  margin-top: -5px;
  color: #000;
}

.name {
  width: 80%;
}

.name h4 {
  padding: 20px 0 0;
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Gilroy SemiBold';
}

.name p {
  padding: 0 0 20px;
  margin: 0;
  color: var(--courses-yellow);
}

.social {
  width: 20%;
  text-align: right;
  padding: 20px 0;
}

.social svg {
  margin-right: 10px;
  vertical-align: middle;
}

.sub-grey-text {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Gilroy Medium';
  margin-top: -30px;
  padding-bottom: 20px;
  color: var(--courses-dark-gray);
  opacity: 0.8;
}

.team-img {
  width: 60%;
  margin: auto;
  text-align: center;
}

.team-img img {
  width: 100%;
}

.cta-team {
  margin: 3rem auto 0;
  text-align: center;
}

.subc-text {
  width: 40%;
  margin: auto;
  text-align: center;
}

/* .subc-text p {
  color: #444545;
} */

.form-control, 
.sub-form input {
  padding: 15px 30px;
  width: 50%;
  border: 1px solid rgba(68, 69, 69, 0.5);
  font-family: 'Gilroy SemiBold';
  font-size: 18px;
  opacity: .8;
}

.sub-form button {
  margin-left: -10px;
}

.submit,
.sub-form button {
  width: 30%;
  padding: 15px 30px;
  background-color: var(--courses-yellow);
  border-radius: 0px 5px 5px 0px;
  border: 1px solid var(--courses-yellow);
  color: var(--courses-dark-gray);
  font-size: 18px;
  font-family: 'Gilroy SemiBold';
  cursor: pointer;
  position: relative;
}

.submit:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  content: '';
  background: #0000000d;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.submit:hover:before {
  top: 0%;
	bottom: auto;
	height: 100%;
}

.ft {
  background-color: var(--courses-dark-gray);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: 'Gilroy Medium';
}

.cart-intro {
  width: 85%;
  margin: auto;
  padding: 2rem 0 3rem;
  display: flex;
}

.back {
  background: transparent;
  border: none;
  font-family: 'Gilroy Medium';
  font-size: 1.2rem;
  cursor: pointer;
}

.back svg {
  padding-right: 10px;
  vertical-align: middle;
}

.cart-hd {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 1.5rem;
}

.cart-prod {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #f8f8f8;
  padding: 3rem 0;
  justify-content: space-between;
}

.cart-prod-detail {
  width: 50%;
  display: flex;
}

.prod-img {
  width: 55%;
  text-align: center;
}

.prod-img img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.prod-qty {
  width: 10%;
  margin: 0 auto;
  text-align: center;
}

.prod-price {
  width: 12%;
}

.del {
  width: 5%;
}

.del svg {
  cursor: pointer;
  transition: .3s ease-in-out;
}

.del svg:hover {
  fill: #000;
}

.prod-price p {
  width: 70%;
  font-style: italic;
}

.prod-text {
  width: 50%;
  margin-left: -45px;
}

.prod-pricing {
  width: 90%;
  margin: 2rem auto 5rem;;
  display: flex;
  justify-content: flex-end;
}

.pricing-container {
  width: 20%;
  height: 250px;
}

.pricing-container p {
  display: flex;
  justify-content: space-between;
}

#total {
  font-weight: 700;
  color: #231F20;
  opacity: 1;
  margin-bottom: 3rem;
}

.b-nxt {
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  cursor: pointer;
}

.checkout {
  width: 85%;
  margin: auto;
  display: flex;
  padding-bottom: 5rem;
}

.checkout-form {
  width: 50%;
  margin-bottom: 10rem;
}

.checkout-form form {
  width: 90%;
}

.checkout-product {
  width: 50%;
}

.c-p-d {
  background-color: #F7F7F7;
  width: 85%;
  margin-left: auto;
  padding: 3rem 0;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
}

.pay-btn {
  width: 30%;
  padding: 10px 45px;
  box-shadow: 0px 1.75086px 1.75086px rgba(50, 50, 71, 0.06), 0px 1.75086px 3.50173px rgba(50, 50, 71, 0.06);
  cursor: pointer;
  transition: .5s ease-in-out;
}

.pay-btn:hover {
  transform: translateY(-5px);
}

.pay-btn:nth-child(1) {
  margin-right: 2rem;
}

.pay-btn img {
  width: 90%;
  margin: auto;
  text-align: center;
}

.checkout-pay {
  display: flex;
  padding: 20px 0;
}

.divider {
  text-align: center;
  margin-bottom: 3rem;
}

.payment-form {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
}

.form-group-fl {
  width: 100%;
  padding-bottom: 20px;
}

.form-group {
  width: 45%;
  padding-bottom: 20px;
}

.pay-form-control, 
.team-form input {
  padding: 15px;
  width: 95%;
  border: 1px solid rgba(68, 69, 69, 0.5);
  font-family: 'Gilroy SemiBold';
  font-size: 18px;
  opacity: .8;
  border-radius: 5px;
  margin: 10px 0;
  caret-color: var(--courses-yellow);
}

.form-group-fl label,  
.form-group label {
  font-family: 'Gilroy Medium';
  font-size: 1rem;
}

.product-form h4 {
  padding-bottom: 2rem;
}

.fr {
  display: flex;
  width: 94%;
  justify-content: space-between;
}

.b-pay {
  border: 0;
  cursor: pointer;
}

#checkout-cta {
  text-align: center;
}

#checkout-cta {
  text-align: center;
  width: 100%;
  margin: auto;
}

.tx-lr {
  padding-left: 40px;
}

.prod-text-ck {
  width: 70%;
}

.checkout-output {
  display: flex;
  flex-direction: row;
}

.sel-output {
  width: 30%;
}

.price h3 {
  margin: 0;
}

.sel-output {
  width: 30%;
}

.price {
  width: 70%;
}

.fl {
  width: 57%;
}

.fl p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prod-checkgroup-img img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.success-modal {
  width: 500px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
  padding: 50px 0;
  margin: auto;
  text-align: center;
}

#bg-grey {
  background-color: var(--light-gray);
  height: 100vh;
  position: fixed;
}

.content h3 {
  font-family: 'Gilroy Medium';
  font-size: 1.5rem;
  margin: 0.8rem 0 1rem;
}

#code {
  box-shadow: 0px 1.75086px 1.75086px rgba(50, 50, 71, 0.06), 0px 1.75086px 3.50173px rgba(50, 50, 71, 0.06);
  width: 150px;
  padding: 18px 30px;
  margin: auto;
  color: var(--courses-yellow);
  font-family: 'Gilroy Medium';
  font-weight: bold;
  font-size: 1.4rem;
}

#me {
  padding-bottom: 2rem;
  width: 90%;
  margin: auto;
}

.cr-link {
  color: var(--courses-yellow);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.course-hd {
  text-align: center;
  width: 40%;
  margin: -50px auto auto;
  font-size: 1.5rem;
}

.nav-tabs {
  display: flex;
  padding: 3rem 0 0;
  border-bottom: 1.5px solid #c4c4c4;
}

.nav-item {
  font-size: 1.2rem;
  font-family: 'Gilroy Medium';
  padding-right: 3rem;
  cursor: pointer;
}

.nav-item .active:after {
  content: '';
  background: #FFC518;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
}

button.active {
  background: #eeeeee;
  border: none;
}

.testimony {
  display: flex;
  width: 80%;
  margin: 3rem auto 0;
  justify-content: space-between;
}

.cr-slide {
  background-color: #fff;
  border-radius: 5px;
  width: 35%;
  padding: 50px;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
  transition: .3s ease-in-out;
}

.cr-slide:hover{
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 4px rgba(50, 50, 71, 0.06);
}

.cr-slide-text {
  font-family: 'Gilroy Medium';
  font-size: 1.4rem;
}

.cr-testifr {
  display: flex;
  padding-top: 30px;
}

.cr-testifr img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.cr-testifr-info {
  padding-left: 10px;
}

.cr-testifr-info h3 {
  margin: 0;
  padding: 0;
}

.cr-testifr-info h4 {
  margin: 0;
  padding: 0;
  color: var(--courses-yellow)
}

.swiper-slide.swiper-slide-active {
  transform: scale(1);
  width: 800px;
  z-index: 2;
  margin-left: 170px;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
  opacity: 1;
}

.swiper-slide.swiper-slide-visible.swiper-slide-active.cr-slide {
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.swiper-slide .swiper-slide-duplicate .swiper-slide-visible .swiper-slide-prev {
  background-color: #f7f7f7;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  color: var(--courses-yellow);
  font-size: 20px!important;
  font-weight: bold;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
  color: var(--courses-yellow);
  font-size: 20px!important;
  font-weight: bold;
}

.formHolder {
  width: 40%;
  margin: auto;
  padding: 50px;
  background-color: #fff;
}

.form-group-reg label {
  font-family: 'Gilroy Medium';
  font-size: 1rem;
}

.formHolder h3 {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Gilroy SemiBold';
}

.formHolder h3:after {
  content: '';
  display: block;
  background-color: #FFC518;
  height: 4px;
  width: 20%;
  margin: auto;
}

.bfl {
  width: 94%;
  border-radius: 5px;
  margin-top: 20px;
}

.form-group-reg .pay-form-control {
  width: 88%;
}

.cra {
  text-align: center;
  font-family: "Gilroy SemiBold";
  color: #000;
}

.cra span {
  padding: 0 5px;
}

.cra span a {
  text-decoration: none;
  color: var(--courses-yellow);
}

.error {
  visibility: hidden;
  margin: 0 0 1rem;
  width: 94%;
}

.success {
  display: none;
  margin: 0 0 1rem;
  width: 94%;
}

.error p, 
.error-l p, .success p {
  font-family: "Gilroy SemiBold";
  font-size: 1rem;
  text-align: center;
  padding: 10px 20px;
  color: #333;
  background-color: #e7c351d1;
}

.error-l {
  margin: 0 0 1rem;
}

.err-txt {
  color: red;
  font-size: 14px;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-hld {
  transform: translate(0%, 50%);
}

.cls {
  color: #fcc519;
  font-weight: bold;
  font-size: 20px;
  width: 5%;
  margin: auto;
  cursor: pointer;
}

.heading {
  text-align: center;
  font-family: "Gilroy SemiBold";
  padding-top: 30px;
}

.heading h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.py {
  border-radius: 5px;
  margin-top: 20px;
  width: 92%;
}

.form-group-py {
  margin-top: 20px;
}

.course-board {
  width: 100%;
  display: flex;
  background: #f9f9f9;
}

.vid-res {
  width: 72%;
}

.vid-res img {
  width: 100%;
}

.p {
  margin-top: 0;
}

.p video[poster] {
  object-fit: cover;
}

.course-board-menu {
  width: 32%;
  background-color: #eee;
  border-left: 2px solid #eee;
}

.cr-progress {
  width: 100%;
  margin: 2rem 0;
}

.cr-hlder {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 20px;
}

.cr-level {
  text-align: center;
}

.cr-level-point {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--courses-yellow);
  border-radius: 100%;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
}

.cr-level-point.complete {
  background-color: var(--courses-yellow);
  font-weight: bold;
}

.cr-level-point.complete:after {
  content: "";
  display: block;
  height: 2px;
  width: 14%;
  background-color: #fcc519;
  position: absolute;
  top: 11.5rem;
  z-index: -1;
}

.cr-level-text {
  font-size: 0.9rem;
  color: #000;
  font-family: "Gilroy SemiBold";
  text-transform: uppercase;
}

.course-name {
  width: 90%;
  margin: auto;
}

.course-name h3 {
  font-size: 1.5rem;
  font-family: 'Gilroy Medium';
}
.panel {
  display: none;
}

.blk {
  display: none;
}

.accordion {
  background-color: #e8e8e8;
  border: none;
  padding: 20px;
  width: 100%;
  text-align: left;
  font-size: 17px;
  font-family: "Gilroy SemiBold";
  cursor: pointer;
  border: 1px solid #e8e8e8;
}

.accordion:hover {
  background-color: #e3e3e3;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .accordion:hover,
.active {
  background-color: #ccc;
} */

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Gilroy SemiBold';
  opacity: 1;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  width: 6px;
  margin-right: 0.5rem;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: #f6f6f6;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 14px;
}

.accordion__text p {
  font-size: 1.06rem;
  border: 1px solid #DBDEDD;
  margin: 0;
  padding: 18px;
}

.accordion__link {
  text-decoration: none;
  color: var(--courses-dark-gray);
  opacity: 1;
}

.accordion__link.active {
  font-weight: bold;
}

.accordion__text p svg,
.accordion__link svg {
  vertical-align: middle;
  margin-right: 1.2rem;
}

.chevron {
  margin-right: 1.2rem;
  margin-left: 5px;
}

.time {
  float: right;
}

.accordion__total {
    font-size: 1rem;
}

.table-content {
  padding: 18px 0;
  margin: 1rem 0 0;
}

.table-content h3 {
  font-family: "Gilroy SemiBold";
  font-size: 1.3rem;
}

.table-content h3:after {
  content: "";
  background-color: #ccc;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 1rem;
}

.cr-progress h3 {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Gilroy SemiBold";
  padding: 20px 0;
}

.course-fit {
  height: 65vh;
  overflow: scroll;
  background: #eeeeee;
}

.vid-res img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#next {
  margin: 2rem 2rem 0 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.layer {
  margin-top: 0;
}

.is-complete {
  padding: 15px 30px;
  background-color: var(--courses-yellow);
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Gilroy SemiBold';
  text-decoration: none;
  color: var(--courses-dark-gray);
  border: none;
  cursor: pointer;
}

.is-complete span img {
  width: 13px;
  vertical-align: middle;
  padding-left: 10px;
}

.not-complete {
  padding: 15px 30px;
  background-color: #ebd389;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Gilroy SemiBold';
  text-decoration: none;
  color: #7a7a7a;
  border: none;
  cursor: not-allowed;
}

#fr {
  background-color: #c2c2c1;
  padding: 7px 12px;
  border-radius: 100%;
}

.logout {
  background-color: transparent;
  border: none;
  font-family: "Gilroy SemiBold";
  font-size: 19px;
  cursor: pointer;
}

.menu h3 {
  padding-right: 20px;
  font-size: 1rem;
  margin-top: 20px;
}

.cr-progress-bg {
  width: 80%;
  height: 4px;
  background-color: #c4c4c4;
  margin: auto;
  display: flex;
}

.cr-progress-fill {
  background-color: var(--courses-yellow);
  height: 4px;
  position: absolute;
}

.start-point {
  height: 15px;
  width: 15px;
  background-color: var(--courses-yellow);
  border-radius: 100%;
  margin-top: -5px;
}

.notice {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1rem 0 1rem;
    font-family: 'Gilroy SemiBold'
}

.notice h2 {
  font-size: 1rem;
  margin: 0;
}

.notice h2 span {
  font-family: 'Gilroy Bold';
}

.exp-date {
  margin: auto;
  padding: 10px 0;
}

.cr-progress-gr {
  background-color: #c4c4c4;
  width: 25%;
}

#dl {
  display: block;
  transition: .5s ease-in-out;
  position: absolute;
  right: 0;
}

#dn { 
  display: none;
  transition: .5s ease-in-out;
}

.support {
  position: fixed;
  bottom: 90px;
  right: 0;
  border: 1px solid #4C5357;
  border-radius: 90px 0 0 90px;
  padding: 0px 0 0 20px;
  margin-right: -10px;
  background-color: #eee;
}

.support a {
  text-decoration: none;
}

.support p {
  padding-right: 20px;
}

.support p svg {
  padding-right: 15px;
  vertical-align: sub;
}

.hero-banner {
  width: 100%;
  height: 100%;
}

.msg-alert p {
  font-size: 14px;
}

.help {
  color: #000;
  text-decoration: none;
  font-family: 'Gilroy SemiBold';
  text-transform: uppercase;
  font-size: 15px;
}

.menu .logout {
  text-transform: uppercase;
  font-size: 15px;
}

.logo a img {
  width: 45%;
  object-fit: cover;
}

.reg-title h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
}

.form-group-reg .reg-input {
  display: flex;
  caret-color: var(--courses-yellow);
}

.form-group-reg .reg-input svg {
  margin: 0px 0 5px 0;
  width: 70%;
  cursor: pointer;
}

.tm {
  width: 92%;
  border-radius: 5px;
  margin-top: 20px;
}

.team {
  width: 85%;
  margin: 10px auto 0;
}

.team h4 {
  padding-left: 25px;
}

.team-members {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.team-members-hd tr th {
  padding: 20px;
  font-size: 16px;
}

.team-members-tb tr td {
  padding: 20px;
  font-size: 16px;
}

.team-members-tb {
  margin-top: 20px;
}

.tro {
  background-color: #f2f2f2;
  padding: 10px 0;
}

.invite-btn {
  background: transparent;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Gilroy Regular';
  padding: 0;
  margin-right: 15px;
}

.ds {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.tro td svg {
  vertical-align: middle;
}

.team-members-hd tr th:nth-child(1), .team-members-hd tr th:nth-child(2) {
  width: 43%;
}

.success-message {
  display: none;
}

.slink {
  color: #333;
}

@media screen and (min-width: 1290px) {
  .tm {
    width: 91%;
    border-radius: 5px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .intro-hd {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 900px) {
  .lrt-txt {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .intro-hd {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }

  .crd {
    width: 90%;
  }

  .crd_ {
    width: 100%;
    margin-bottom: 2rem;
  }

  .lrt-txt {
    width: 100%;
  }

  .instructor {
    width: 90%;
  }

  .testimony {
    flex-direction: column;
  }

  .cr-slide {
    width: 85%;
    margin-bottom: 2rem;
  }

  .team-img {
    width: 90%;
  }

  .subc-text {
    width: 60%;
  }

  .cart-prod {
    flex-direction: column;
  }

  .cart-prod-detail {
    width: 90%;
    margin: auto;
  }

  .prod-price {
    width: 90%;
    margin: auto;
  }

  .prod-pricing {
    justify-content: center;
  }

  .pricing-container {
    width: 100%;
  }

  .del {
    display: none;
  }

  .prod-img {
    text-align: left;
  }

  .success-modal {
    width: 90%;
    margin-top: 4rem;
  }

  .formHolder {
    width: 70%;
  }

  .course-board {
    flex-direction: column;
  }

  .vid-res {
    width: 100%;
  }

  .course-board-menu {
    width: 100%;
  }

  .banner-text h2 {
    font-size: 1.5rem;
  }

  .banner-text h1 {
    font-size: 2rem;
  }

  .brands img {
    padding: 0 20px;
  }

  .lrt-txt {
    width: 90%;
    padding: 0 10px;
    height: 200px;
  }

}

@media screen and (max-width: 600px) {
  .banner-img img {
    height: 300px;
    object-fit: cover;
  }

  .banner-text h1 {
    font-size: 1.5rem;
  }

  .banner-text h2 {
    font-size: 1.3rem;
    margin-top: -10px;
  }

  .cart-prod-detail {
    flex-direction: column;
  }

  .prod-img {
    text-align: center;
  }

  .prod-img {
    width: 100%;
  }

  .prod-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .prod-price {
    text-align: center;
  }

  .prod-price p {
    width: 100%;
  }

  .formHolder {
    width: 70%;
  }

  .form-group-reg .pay-form-control {
    width: 88%;
  }

  .checkout {
    width: 100%;
    flex-direction: column;
  }

  .checkout-form {
    width: 90%;
    margin: auto;
  }

  .checkout-form h3 {
    text-align: center;
  }

  .checkout-pay {
    justify-content: center;
  }

  .pay-btn:nth-child(1) {
    margin-right: 0;
  }

  .py {
    width: 97%;
  }

  .checkout-product{
    width: 100%;
    margin-top: 2rem;
  }

  .c-p-d {
    width: 100%;
  }

  .tx-lr {
    padding-left: 0;
    text-align: center;
  }

  .prod-text-ck {
    width: 100%;
  }

  .fl {
    width: 80%;
    margin: auto;
  }

  .is-complete {
    padding: 10px 20px;
    font-size: 11px;
  }

  .menu h3, .menu p {
    display: none;
  }

  .cr-progress {
    display: none;
  }

  .vid-btn svg {
    display: none;
  }

  .banner-text {
    top: 37%;
  }

  .brands {
    flex-direction: column;
  }

  .brands img {
    padding: 1rem 0;
  }

  .cr-slide {
    width: 65%;
  }

  .courses-instructors {
    width: 90%;
  }

  .cr-slide-text {
    text-align: center;
  }

  .cr-testifr {
    flex-direction: column;
    text-align: center;
  }

  .cr-testifr img {
    margin: auto;
  }

  .subc-text {
    width: 85%;
  }

  .subc-text form {
    display: flex;
    flex-direction: column;
  }

  .form-control,
  .sub-form input {
    width: 80%;
    font-size: 1rem;
  }

  .submit,
  .sub-form button {
    width: 100%; 
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
  }

  .sub h2 {
    font-size: 1.5rem;
  }

  .lrt-txt {
    width: 85%;
    height: 300px;
  }

  .accordion__title {
    font-size: 16px;
  }

  p, ul, li {
    font-size: 1rem;
  }

  .logo svg, 
  .logo img {
    width: 70%;
  }

  .courses-link {
    font-size: 1rem;
  }

  .sub-grey-heading {
    font-size: 1.5rem;
  }

  .sub-grey-text {
    padding-top: 10px;
    font-size: 1.1rem;
  }

  .intro-hd h2 {
    font-size: 1.5rem;
  }

  .heading {
    width: 90%;
    margin: auto;
  }

  .support {
    display: none;
  }

  .ds {
    padding-left: 20px;
  }

  .team {
    width: 100%;
  }

  .tm {
    width: 88%;
  }
  

}